SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

EXCHANGE_RATE_API_KEY=